{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}
{% raw %}
<div id="transactions">

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
          <tr v-for="transaction in transactions">
              <td>{{ transaction.symbol }}</td>
              <td>{{ transaction.quantity }}</td>
              <td>{{ transaction.price }}</td>
              <td>{{ transaction.date }}</td>
          </tr>
    </tbody>
</table>
</div>

<script>
    var transactions = new Vue ({
        el: '#transactions',
        data: {
            transactions: []
        },
        created () {
            fetch('/api/history')
                .then(response => response.json())
                .then(json => {
                    this.transactions = json.transactions

                })
        }

  })
</script>

{% endraw %}
{% endblock %}