{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    {% raw %}
    <div id="positions">


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{ cash }}</td>

            </tr>
            <tr>
                <td colspan="4"></td>
                <td>{{ grand_total }}</td>
            </tr>
        </tfoot>
        <tbody>
                <tr v-for="position in positions">
                    <td>{{ position.symbol }}</td>
                    <td>{{ position.company }}</td>
                    <td>{{ position.quantity }}</td>
                    <td>{{ position.price }}</td>
                    <td>{{ position.total }}</td>
                </tr>

        </tbody>
    </table>
    </div>

    <script>
        var positions = new Vue({
            el: '#positions',
            data: {
                positions: [],
                cash: null,
                grand_total: null
            },
            created () {
                fetch('/api/positions')
                    .then(response => response.json())
                    .then(json => {
                        this.positions = json.positions,
                        this.cash = json.cash,
                        this.grand_total = json.grand_total
                    })
            }
        })

    </script>

    {% endraw %}
{% endblock %}