{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
{% raw %}


    <div id="form_quote">
        <form  method="post">
            <div class="form-group">
                <input v-model="symbol" autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock's symbol" type="text">
            </div>
            <button @click.stop.prevent="get_quote()" class="btn btn-primary" type="submit">Get a quote</button>
        </form>
        <div id="quote">
        </div>

        <div class="info" style="margin-top: 30px">
            <p style="font-weight: bold" >{{ this.name }}</p>
            <p style="font-weight: bold" >{{ this.price }}</p>
            <p style="font-weight: bold" >{{ this.company }}</p>
        </div>

        <div v-for="error in errors" id="error" style="margin: 50px; width: 300px; margin-left: 380px" class="alert alert-danger" role="alert" >
                {{ error }}
        </div>
    </div>
    <script>
        var quote = new Vue ({
            el: "#form_quote",
            data: {
                symbol: '',
                company: '',
                name: null,
                price: null,
                errors: []
            },
            methods: {
                get_quote() {
                    this.errors = []
                    if (this.symbol) {
                        const request = new Request(
                            "api/quote",
                            {
                                method: "POST",
                                body: JSON.stringify({symbol: this.symbol})
                            })

                        const response = fetch(request)
                            .then(response => {
                                if (response.status === 200) {
                                    response.json()
                                        .then(json => {
                                            this.name = json.quote.name,
                                            this.price = json.quote.price,
                                            this.company = json.quote.symbol
                                        })
                                } else {
                                    response.json()
                                        .then(json => {
                                            this.errors.push(json.message)
                                        })
                                }
                            })
                    } else {
                        if(!this.symbol) this.errors.push("Symbol required.")
                    }
                }
            }
        })
    </script>
{% endraw %}
{% endblock %}