{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form id="form_sell" method="post">
        <div class="form-group">
            <select id="symbols_selector" class="form-control" name="symbol">
                <option disabled selected value>Symbol</option>
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

    <div id="error" style="display: none; margin: 50px; width: 300px; margin-left: 380px" class="alert alert-danger" role="alert" >
    </div>


<script type="text/html" id="symbols_template">
<![CDATA[
<% for (t=0; t < this.symbols.length; t++) {
    var symbol = this.symbols[t]; %>
<option value="<%= symbol %>"><%= symbol %></option>
<% } %>
]]>
</script>

<script>
    $( document ).ready(function() {

        $( "#form_sell" ).submit(function( event ) {
            event.preventDefault();
            $("#error").hide();


            var values = $("#form_sell").serializeArray();

            var posting = $.post( "/api/sell", values )
            .done( function(data) {
                window.location.href = "index.html";
            })
            .fail( function(xhr, textStatus, errorThrown) {
                if (xhr.hasOwnProperty('responseJSON')) {
                    $("#error").show();
                    $("#error").text(xhr.responseJSON.message);
                } else {
                    $("#error").show();
                    $("#error").text("Something really unexpected happened");
                }
            });

        })

        const request = new XMLHttpRequest();
        request.open("GET", "/api/symbols");
        request.onload = function(data) {
            const json_data = JSON.parse(request.responseText);
            $('#symbols_selector').append($('#symbols_template').jqote(json_data));
        }
        request.send();

    })
</script>
{% endblock %}

