{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
{% raw %}
    <form id="form_sell" method="post">
        <div class="form-group">
            <select v-model="selected" id="symbols_selector" class="form-control" name="symbol">
                <option disabled selected value>Symbol</option>
                <option v-for="symbol in symbols">{{ symbol }}</option>
            </select>
        </div>
        <div class="form-group">
            <input v-model="shares" autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button @click.stop.prevent="sell()" class="btn btn-primary" type="submit">Sell</button>
    </form>

    <div id="error" style="display: none; margin: 50px; width: 300px; margin-left: 380px" class="alert alert-danger" role="alert" >
    </div>

<script>
    var sell = new Vue ({
        el: '#form_sell',
        data: {
            selected: '',
            symbols: [],
            shares: null,
        },
        created () {
            fetch('/api/symbols')
                .then(response => response.json())
                .then(json => {
                    this.symbols = json.symbols

                })
        },
        methods: {
            sell() {
                const request = new Request(
                "api/sell",
                {
                    method: "POST",
                    body: JSON.stringify({symbol: this.selected, shares: parseInt(this.shares, 10)})
                }
                );
            const res = fetch(request);

            window.location.reload("index.html")
            window.location.href = "index.html"
            }
        }


  })
</script>


{% endraw %}
{% endblock %}

